@import url(http://fonts.googleapis.com/css?family=Signika:700,300|Oswald:700);

@import "compass/reset";
@import "normalize";
@import "foundation";
@import "general";
@import "navigation";
@import "hero";
@import "footer";

/* * {
	border: 3px solid red;
	background-color: green;
	color: blue;
} */